<ion-list *ngFor="let item of userPosts?.results">
  <div>
    <img class="cssClass" src="{{ userPic }}" class="thumbnailCss" />
    <ion-label> {{ userName }}</ion-label>
  </div>
  <ion-label> lorem ipsum </ion-label>
  <ion-item padding lines="none">
    <app-display-img [imgsrc]="item.picture.large"></app-display-img>
  </ion-item>

  <ion-row>
    <ion-icon name="heart-outline" class="iconCss"></ion-icon>
    <ion-icon name="chatbubble-outline" class="iconCss"></ion-icon>
    <ion-icon name="share-social-outline" class="iconCss"></ion-icon>
  </ion-row>
</ion-list>
