  .inputCss{
      border: solid 1px ;
      border-radius: 6px;
  }

  .loginBtn{
    margin-top: 5% !important; 
    text-align: center
  }

  .newuserLink{
    margin-left: 8px;
     color: #ff1c43 !important;  
  }