<ion-header>
  <ion-toolbar >
    <div class="header">
      <ion-icon name="camera-outline" class="header-icon first-icon"></ion-icon>
      <div class="insta-logo">
        <!-- Instagram -->
        <img src="../../assets/instagram-font-logo-white-png.png" class="insta-image">
      </div>
      <ion-icon name="chatbubble-ellipses-outline" class="header-icon last-icon"></ion-icon>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-displaypost
    [userName]="userName"
    [userPosts]="postList"
    [picPosts]="picturesList"
    [userPic]="userInfo?.results[0].picture.thumbnail"
  >
  </app-displaypost>
</ion-content>
