<ion-header>
  <ion-toolbar>
    <ion-title>Instagram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-displaypost
    [userName]="userName"
    [userPosts]="postList"
    [userPic]="userInfo?.results[0].picture.thumbnail"
  >
  </app-displaypost>

  <app-displaypost
    [userName]="userName"
    [userPosts]="postList"
    [userPic]="userInfo?.results[0].picture.thumbnail"
  >
  </app-displaypost>

  <app-displaypost
    [userName]="userName"
    [userPosts]="postList"
    [userPic]="userInfo?.results[0].picture.thumbnail"
  >
  </app-displaypost>

  <app-displaypost
    [userName]="userName"
    [userPosts]="postList"
    [userPic]="userInfo?.results[0].picture.thumbnail"
  >
  </app-displaypost>

  <app-displaypost
    [userName]="userName"
    [userPosts]="postList"
    [userPic]="userInfo?.results[0].picture.thumbnail"
  >
  </app-displaypost>

  <app-displaypost
    [userName]="userName"
    [userPosts]="postList"
    [userPic]="userInfo?.results[0].picture.thumbnail"
  >
  </app-displaypost>
</ion-content>
